* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: linear-gradient(135deg, #f5a623, #f76b1c);
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-image {
    height: 150px;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 0.9rem;
    background: #764ba2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #667eea;
}












.button-container {
    text-align: center;
    padding: 5%;
}

.next-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #764ba2;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.next-button:hover {
    background: #764ba2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.next-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}